*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


/* .box{
    width: 200px;
    height: 300px;
    background-color: cadetblue;
} */

/* .box{
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 51, 224);
} */


.box{
    width: 100vw;
    height: 400px;
    background-color: crimson;
}

.banner{
    width: 100%;
    height: calc(100vh - 400px);
    background-color: rgb(23, 128, 221);
}